<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Rating</h4>
                    <button data-toggle="tooltip" title="Create new image" mat-raised-button type="submit"
                        class="btn btn-primary pull-right" data-toggle="modal" data-target="#imprint">New
                        Rating</button>
                </div>
                <div class="clearfix" style="height: 1px; background-color: lightgrey;"></div>
                <div class="card-body">
                   
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="imprint" tabindex="-1" role="dialog" aria-labelledby="exampleModal3Label"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="font-weight-light">New Imprint</h4>
            </div>
            <div class="modal-body">
                <form class="py-5" (ngSubmit)="onSaveClient()">
                    <img>

                    <button data-toggle="tooltip" title="Save changes" class="btn btn-primary float-right"
                        type="submit">Save</button>
                    <button data-toggle="tooltip" title="Cancel changes" class="btn btn-default float-right"
                        data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div> -->