/* You can add global styles to this file, and also import other style files */
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
@import "../node_modules/ngx-toastr/toastr.css";
.custom-dropdown{
   left: -240px;
   top: 65px;
   box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.3) !important;
}
.card-header{
   height: 6rem; 
   display: flex; 
   justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.card-title{
   display: inline-block;
   font-weight: 800;
}
td.mat-column-actions{
   width: 130px;
}
.btn-container{
   width: 200px;   
}
.btn-container button{
   margin: 0 5px;
   width:  90px;
}
.mat-dialog-actions{
   justify-content: flex-end;
}
.modal-custom-header{
   height: 4rem; 
   padding: 0 30px;
   align-items: center;
}
.modal-custom-header h4{
   font-weight: 800;
   margin: 0;
}
.gallery-container{
   display:flex;
   padding: 10px;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
}
.gallery-item{
   width: 310px;
   height: 220px;
   margin: 10px;
   border: 10px solid #f1c482;
   position: relative;
}
.gallery-item>img{
   width: 100%;
   height: 100%;
}
.user-info-input-group{
  height: 40px;
  margin-bottom: 10px;
}
.user-info-title{
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 13px;
}
.user-info-input input{
   height: 100%;
   width: 100%;  
   padding: 0 15px;
}